* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	background-color: #000000;
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: rgb(255, 0, 0);
	font-size: 48px;
	font-weight: 500;
	text-align: center;
}
main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 10px;
}

.searchbox {
	display: block;
	width: 100%;
	padding: 10px;

	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 5px;

	color: #3e3f41;
	font-size: 20px;
	font-weight: 300;

	transition: 0.5s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px rgb(243, 153, 153);
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;

}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: rgb(255, 0, 0);
	flex: 1 1 100%;
	transition: 0.5s ease-out;
}

.results .result:hover h3 {
	background: #FFF;
	color:rgb(255, 0, 0);
}

